## Correlation Between Items

 + 자기 상관성이 없을 수 있다는 것을 확인함. 일부 있을수도 있지만 없는 것에 대해 강제로 ARIMA를 돌리는건 별로인듯
 + 그렇다면 머신러닝 모델에 들어갈 품목을 알아보아야 함. 하나의 상점 안에서 각 품목들에 대해 상관관계가 있는가?
     - product type 이 같은 애들끼리도 한번 해보자..

In [42]:
import pandas as pd
industry = pd.read_csv('../data/raw/Industry Data.csv')

In [43]:
industry

                      Month  Industry Size  Store Product Type           Item
0       2015-01-01 00:00:00              2      1  Electronics       Keyboard
1       2015-01-01 00:00:00              1      1      Grocery          Steak
2       2015-01-01 00:00:00              1      1   Home Goods          Paint
3       2015-02-01 00:00:00              1      1      Grocery         Shrimp
4       2015-03-01 00:00:00              2      1  Electronics  Phone Charger
...                     ...            ...    ...          ...            ...
352889  2022-03-01 00:00:00              1    642      Grocery        Noodles
352890  2022-03-01 00:00:00              1    642      Grocery      King Crab
352891  2022-03-01 00:00:00              1    642   Home Goods           Glue
352892  2022-03-01 00:00:00              1    642   Home Goods          Nails
352893  2022-03-01 00:00:00              2    642   Home Goods        Bracket

[352894 rows x 5 columns]

In [44]:
industry.groupby('Item')['Industry Size'].sum()

Item
Bracket           47204
Brush             24595
Cereal            22630
Ear Buds          82368
Eggs              23131
Glue              46933
Keyboard         118561
King Crab         38909
Milk               5568
Mouse             29983
Nails             32465
Noodles           52501
Paint             17475
Phone Charger    100456
Power Cord        28662
Shrimp            85448
Steak             46973
Tape              14738
Name: Industry Size, dtype: int64

In [45]:
# store1 을 골라서, 매 월이 index가 되고, Item이 column이 되고, ind size가 value가 되게끔 df 만들자
store1 = industry[industry['Store'] == 1]
store1

                   Month  Industry Size  Store Product Type           Item
0    2015-01-01 00:00:00              2      1  Electronics       Keyboard
1    2015-01-01 00:00:00              1      1      Grocery          Steak
2    2015-01-01 00:00:00              1      1   Home Goods          Paint
3    2015-02-01 00:00:00              1      1      Grocery         Shrimp
4    2015-03-01 00:00:00              2      1  Electronics  Phone Charger
..                   ...            ...    ...          ...            ...
717  2022-03-01 00:00:00              2      1      Grocery        Noodles
718  2022-03-01 00:00:00              5      1      Grocery          Steak
719  2022-03-01 00:00:00              1      1      Grocery      King Crab
720  2022-03-01 00:00:00              1      1   Home Goods          Nails
721  2022-03-01 00:00:00              1      1   Home Goods        Bracket

[722 rows x 5 columns]

In [16]:
store1['Item'].value_counts().index.tolist()

['Shrimp',
 'Phone Charger',
 'Noodles',
 'Steak',
 'Keyboard',
 'Power Cord',
 'King Crab',
 'Nails',
 'Glue',
 'Ear Buds',
 'Bracket',
 'Eggs',
 'Cereal',
 'Mouse',
 'Tape',
 'Paint',
 'Milk',
 'Brush']

In [25]:
cols = store1['Item'].value_counts().index.tolist()
df = pd.DataFrame(0, columns = cols, index = pd.date_range('2015-01-01', '2022-03-01', freq='MS') )

In [26]:
df

,Shrimp,Phone Charger,Noodles,Steak,Keyboard,Power Cord,King Crab,Nails,Glue,Ear Buds,Bracket,Eggs,Cereal,Mouse,Tape,Paint,Milk,Brush
2015-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2015-02-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2015-03-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2015-04-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2015-05-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2021-12-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2022-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2022-02-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2022-03-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [51]:
df.loc['2015-01-01']['Shrimp']

0

In [46]:
store1.index = pd.to_datetime(store1.Month)

In [49]:
store1.Month = pd.to_datetime(store1.Month)

C:\Users\user\AppData\Local\Temp\ipykernel_13068\83387612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store1.Month = pd.to_datetime(store1.Month)

In [50]:
store1

                Month  Industry Size  Store Product Type           Item
Month
2015-01-01 2015-01-01              2      1  Electronics       Keyboard
2015-01-01 2015-01-01              1      1      Grocery          Steak
2015-01-01 2015-01-01              1      1   Home Goods          Paint
2015-02-01 2015-02-01              1      1      Grocery         Shrimp
2015-03-01 2015-03-01              2      1  Electronics  Phone Charger
...               ...            ...    ...          ...            ...
2022-03-01 2022-03-01              2      1      Grocery        Noodles
2022-03-01 2022-03-01              5      1      Grocery          Steak
2022-03-01 2022-03-01              1      1      Grocery      King Crab
2022-03-01 2022-03-01              1      1   Home Goods          Nails
2022-03-01 2022-03-01              1      1   Home Goods        Bracket

[722 rows x 5 columns]

In [32]:
store1.index

DatetimeIndex(['2015-01-01', '2015-01-01', '2015-01-01', '2015-02-01',
               '2015-03-01', '2015-03-01', '2015-03-01', '2015-03-01',
               '2015-03-01', '2015-04-01',
               ...
               '2022-02-01', '2022-03-01', '2022-03-01', '2022-03-01',
               '2022-03-01', '2022-03-01', '2022-03-01', '2022-03-01',
               '2022-03-01', '2022-03-01'],
              dtype='datetime64[ns]', name='Month', length=722, freq=None)

In [35]:
store1.iloc[0]

Industry Size              2
Store                      1
Product Type     Electronics
Item                Keyboard
Name: 2015-01-01 00:00:00, dtype: object

In [52]:
for i in range(store1.shape[0]):
    df.loc[store1.iloc[i]['Month']][store1.iloc[i]['Item']] = store1.iloc[i]['Industry Size']

In [53]:
df

,Shrimp,Phone Charger,Noodles,Steak,Keyboard,Power Cord,King Crab,Nails,Glue,Ear Buds,Bracket,Eggs,Cereal,Mouse,Tape,Paint,Milk,Brush
2015-01-01,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0,1,0,0
2015-02-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2015-03-01,2,2,0,0,0,0,0,1,0,0,2,0,1,0,0,0,0,0
2015-04-01,2,2,3,2,1,1,1,0,2,1,0,0,0,0,1,0,0,0
2015-05-01,2,1,0,0,1,0,3,4,1,0,2,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-01,0,2,3,0,3,1,3,0,0,3,0,0,0,5,0,0,0,0
2021-12-01,4,2,3,2,4,1,1,3,2,1,4,1,0,0,0,0,0,0
2022-01-01,2,0,2,2,2,1,1,2,0,0,0,0,0,2,0,0,0,0
2022-02-01,7,2,2,0,1,0,3,0,0,3,0,1,1,0,0,0,0,0
2022-03-01,5,5,2,5,0,5,1,1,0,0,1,0,1,0,0,0,0,0

In [54]:
df.corr()

,Shrimp,Phone Charger,Noodles,Steak,Keyboard,Power Cord,King Crab,Nails,Glue,Ear Buds,Bracket,Eggs,Cereal,Mouse,Tape,Paint,Milk,Brush
Shrimp,1.000000,0.224645,0.190014,0.136704,0.048473,0.046444,0.303232,0.021924,-0.017007,0.290235,-0.026309,0.199093,0.006245,-0.028752,0.070873,0.171404,-0.105034,-0.112493
Phone Charger,0.224645,1.000000,0.460646,0.325977,0.288778,0.219669,0.029587,0.065024,0.183848,0.283503,0.200253,0.246476,0.320577,0.060932,0.080548,-0.060436,-0.081324,0.025693
Noodles,0.190014,0.460646,1.000000,0.195270,0.426607,0.035698,0.087403,-0.066926,0.014728,0.235762,0.155594,0.152686,0.099863,0.232820,0.071107,-0.054515,0.037125,0.154604
Steak,0.136704,0.325977,0.195270,1.000000,0.299450,0.516820,0.149512,0.123526,0.065654,-0.102689,0.097465,0.131216,0.070580,-0.018264,0.267152,-0.037811,-0.052015,-0.044206
Keyboard,0.048473,0.288778,0.426607,0.299450,1.000000,0.138274,0.145131,0.175422,0.059460,0.092915,0.144743,0.163363,0.153414,0.175151,0.191235,0.103564,0.108582,0.126189
Power Cord,0.046444,0.219669,0.035698,0.516820,0.138274,1.000000,0.174582,0.073768,-0.070186,0.041718,0.056542,0.023843,0.093305,-0.154747,0.056165,0.122027,-0.023836,-0.121760
King Crab,0.303232,0.029587,0.087403,0.149512,0.145131,0.174582,1.000000,-0.008767,0.000488,0.265747,0.032127,0.145279,0.078223,0.061598,0.157004,0.251898,-0.080133,0.050617
Nails,0.021924,0.065024,-0.066926,0.123526,0.175422,0.073768,-0.008767,1.000000,0.065639,0.006674,0.263239,-0.131221,-0.082480,-0.070019,0.176135,-0.020176,0.010675,-0.073941
Glue,-0.017007,0.183848,0.014728,0.065654,0.059460,-0.070186,0.000488,0.065639,1.000000,-0.045179,0.064154,0.219196,-0.167668,-0.071881,0.270180,0.048740,0.002853,0.167463
Ear Buds,0.290235,0.283503,0.235762,-0.102689,0.092915,0.041718,0.265747,0.006674,-0.045179,1.000000,0.067882,0.087061,0.126745,0.090947,-0.091918,0.146654,-0.132760,0.006914
Bracket,-0.026309,0.200253,0.155594,0.097465,0.144743,0.056542,0.032127,0.263239,0.064154,0.067882,1.000000,0.097458,0.226001,-0.056217,0.048380,0.009699,-0.041508,-0.015749
Eggs,0.199093,0.246476,0.152686,0.131216,0.163363,0.023843,0.145279,-0.131221,0.219196,0.087061,0.097458,1.000000,0.245466,-0.053514,-0.044652,0.047480,0.165105,0.090590
Cereal,0.006245,0.320577,0.099863,0.070580,0.153414,0.093305,0.078223,-0.082480,-0.167668,0.126745,0.226001,0.245466,1.000000,-0.078936,-0.089190,-0.097316,-0.092195,0.162344
Mouse,-0.028752,0.060932,0.232820,-0.018264,0.175151,-0.154747,0.061598,-0.070019,-0.071881,0.090947,-0.056217,-0.053514,-0.078936,1.000000,-0.016943,-0.057350,0.086116,-0.041906
Tape,0.070873,0.080548,0.071107,0.267152,0.191235,0.056165,0.157004,0.176135,0.270180,-0.091918,0.048380,-0.044652,-0.089190,-0.016943,1.000000,0.275069,-0.015238,-0.072844
Paint,0.171404,-0.060436,-0.054515,-0.037811,0.103564,0.122027,0.251898,-0.020176,0.048740,0.146654,0.009699,0.047480,-0.097316,-0.057350,0.275069,1.000000,0.071313,-0.013441
Milk,-0.105034,-0.081324,0.037125,-0.052015,0.108582,-0.023836,-0.080133,0.010675,0.002853,-0.132760,-0.041508,0.165105,-0.092195,0.086116,-0.015238,0.071313,1.000000,0.052109
Brush,-0.112493,0.025693,0.154604,-0.044206,0.126189,-0.121760,0.050617,-0.073941,0.167463,0.006914,-0.015749,0.090590,0.162344,-0.041906,-0.072844,-0.013441,0.052109,1.000000

In [55]:
# 미추어버리겟네 왜 전자제품이랑 국수랑 상관관계가 높냐 ㅋㅋㅋ

In [ ]:
# 이러면 근처에 있는 상점과 상관관계가 높은지도 한번 봐야할듯함. 
# store1과 같은 region에 있는 상점들을 뽑고 걔네의 Phone charger과의 관계를 한번 보자