In [3]:
import pandas as pd

In [4]:
dealer = pd.read_csv(r'../data/raw/Dealer Hierarchies.csv',encoding='latin1')
Industry = pd.read_csv(r'../data/raw/Industry data.csv',encoding='us-ascii')
product = pd.read_csv(r'../data/raw/Product Hierarchies.csv',encoding='us-ascii')
retail = pd.read_csv(r'../data/raw/Retail data.csv',encoding='us-ascii')

## Data EDA

### Dealer Hierarchies

In [5]:
dealer.head()
# 총 642개
# store 은 그냥 index에 해당하는것같음
# store owner은 301개.. 이건 이 소매점들을 소유한 주인이 공통된사람이 잇다는 뜻인가?

,Store,Store Owner,Region Level 1,Region Level 2,Urban/Rural
0,1,1,Eisenstadt-Umgebung,GWR,Urban
1,2,1,Politischer Bezirk G?ssing,GWR,Urban
2,3,1,Politischer Bezirk Jennersdorf,GWR,Urban
3,4,1,Politischer Bezirk Jennersdorf,GWR,Urban
4,5,1,Politischer Bezirk Oberpullendorf,GWR,Urban

In [31]:
dealer['Store Owner'].value_counts()
#이거 plot할 수 있는가?

216    13
28      9
89      9
51      9
38      9
       ..
150     1
152     1
153     1
155     1
301     1
Name: Store Owner, Length: 301, dtype: int64

In [6]:
print(dealer.shape)
print(dealer['Store'].value_counts())
print(dealer['Store Owner'].value_counts())

(642, 5)
1      1
482    1
424    1
425    1
426    1
      ..
216    1
217    1
218    1
219    1
642    1
Name: Store, Length: 642, dtype: int64
216    13
28      9
89      9
51      9
38      9
       ..
150     1
152     1
153     1
155     1
301     1
Name: Store Owner, Length: 301, dtype: int64

In [32]:
dealer['Region Level 1'].value_counts().shape

(343,)

In [8]:
dealer['Region Level 2'].value_counts()

KTR    33
ICA    32
NGO    30
TZF    30
LAV    29
       ..
DNC     1
EPM     1
SMM     1
CMH     1
THH     1
Name: Region Level 2, Length: 61, dtype: int64

In [9]:
dealer['Urban/Rural'].value_counts()

Urban    370
Rural    272
Name: Urban/Rural, dtype: int64

### Industry data

+ 2015.01.01 ~ 2022.03.01 까지의 판매 데이터인듯? 
  + 모든 Store마다 다 있는게 아님. Store 2번은 2017년 1월이 없음 아마 이 달은 거기에 팔린게 없어서 그런가봄

+ 35만여개의 판매 기록이 있음

In [10]:
Industry.head()

                 Month  Industry Size  Store Product Type           Item
0  2015-01-01 00:00:00              2      1  Electronics       Keyboard
1  2015-01-01 00:00:00              1      1      Grocery          Steak
2  2015-01-01 00:00:00              1      1   Home Goods          Paint
3  2015-02-01 00:00:00              1      1      Grocery         Shrimp
4  2015-03-01 00:00:00              2      1  Electronics  Phone Charger

In [11]:
Industry.shape

(352894, 5)

In [12]:
Industry['Store'].value_counts()

338    1343
93     1316
480    1298
609    1282
484    1275
       ...
387      48
204      40
65       35
508      35
621      34
Name: Store, Length: 638, dtype: int64

In [13]:
Industry[Industry['Store'] == 2]['Month'].value_counts().shape[0]

86

In [14]:
sorted(list(Industry[Industry['Store'] == 2]['Month'].value_counts().index))

['2015-01-01 00:00:00',
 '2015-02-01 00:00:00',
 '2015-03-01 00:00:00',
 '2015-04-01 00:00:00',
 '2015-05-01 00:00:00',
 '2015-06-01 00:00:00',
 '2015-07-01 00:00:00',
 '2015-08-01 00:00:00',
 '2015-09-01 00:00:00',
 '2015-10-01 00:00:00',
 '2015-11-01 00:00:00',
 '2015-12-01 00:00:00',
 '2016-01-01 00:00:00',
 '2016-02-01 00:00:00',
 '2016-03-01 00:00:00',
 '2016-04-01 00:00:00',
 '2016-05-01 00:00:00',
 '2016-06-01 00:00:00',
 '2016-07-01 00:00:00',
 '2016-08-01 00:00:00',
 '2016-09-01 00:00:00',
 '2016-10-01 00:00:00',
 '2016-11-01 00:00:00',
 '2016-12-01 00:00:00',
 '2017-02-01 00:00:00',
 '2017-03-01 00:00:00',
 '2017-04-01 00:00:00',
 '2017-05-01 00:00:00',
 '2017-06-01 00:00:00',
 '2017-07-01 00:00:00',
 '2017-08-01 00:00:00',
 '2017-09-01 00:00:00',
 '2017-10-01 00:00:00',
 '2017-11-01 00:00:00',
 '2017-12-01 00:00:00',
 '2018-01-01 00:00:00',
 '2018-02-01 00:00:00',
 '2018-03-01 00:00:00',
 '2018-04-01 00:00:00',
 '2018-05-01 00:00:00',
 '2018-06-01 00:00:00',
 '2018-07-01 00:00:00',
 '2018-08-01 00:00:00',
 '2018-09-01 00:00:00',
 '2018-10-01 00:00:00',
 '2018-11-01 00:00:00',
 '2018-12-01 00:00:00',
 '2019-01-01 00:00:00',
 '2019-02-01 00:00:00',
 '2019-03-01 00:00:00',
 '2019-04-01 00:00:00',
 '2019-05-01 00:00:00',
 '2019-06-01 00:00:00',
 '2019-07-01 00:00:00',
 '2019-08-01 00:00:00',
 '2019-09-01 00:00:00',
 '2019-10-01 00:00:00',
 '2019-11-01 00:00:00',
 '2019-12-01 00:00:00',
 '2020-01-01 00:00:00',
 '2020-02-01 00:00:00',
 '2020-03-01 00:00:00',
 '2020-04-01 00:00:00',
 '2020-05-01 00:00:00',
 '2020-06-01 00:00:00',
 '2020-07-01 00:00:00',
 '2020-08-01 00:00:00',
 '2020-09-01 00:00:00',
 '2020-10-01 00:00:00',
 '2020-11-01 00:00:00',
 '2020-12-01 00:00:00',
 '2021-01-01 00:00:00',
 '2021-02-01 00:00:00',
 '2021-03-01 00:00:00',
 '2021-04-01 00:00:00',
 '2021-05-01 00:00:00',
 '2021-06-01 00:00:00',
 '2021-07-01 00:00:00',
 '2021-08-01 00:00:00',
 '2021-09-01 00:00:00',
 '2021-10-01 00:00:00',
 '2021-11-01 00:00:00',
 '2021-12-01 00:00:00',
 '2022-01-01 00:00:00',
 '2022-02-01 00:00:00',
 '2022-03-01 00:00:00']

In [15]:
# 가장 timestamp가 많은 경우 몇 까지 있는지 알기 위함 + time stamp의 분포를 보자
max_length = 0
timestamp_data = []
# 1번 상점부터 끝 번 상점까지 돌면서 만약 이전보다 크다면 max_length을 update
for i in range(1, 639):
  temp = Industry[Industry['Store'] == i]['Month'].value_counts().shape[0]
  timestamp_data.append([i, temp])
  if temp > max_length:
        max_length = temp
print(max_length)

87

In [16]:
# timestamp 분포. 대부분 87개월이나 아닌 경우도 있음. 
pd.DataFrame(timestamp_data)[1].value_counts()

87    411
86     44
85     24
83     22
84     20
81     12
79     10
82      9
80      7
78      5
77      5
67      4
73      4
0       4
63      4
71      4
76      4
74      4
66      4
69      4
70      3
72      3
58      2
75      2
64      2
46      2
68      2
52      2
32      1
43      1
44      1
26      1
55      1
30      1
56      1
49      1
37      1
50      1
54      1
27      1
42      1
62      1
65      1
Name: 1, dtype: int64

In [17]:
product.head()

  Product Type           Item
0  Electronics     Power Cord
1  Electronics  Phone Charger
2  Electronics       Ear Buds
3  Electronics          Mouse
4  Electronics       Keyboard

In [19]:
product['Product Type'].value_counts()

Grocery        7
Home Goods     6
Electronics    5
Name: Product Type, dtype: int64

In [18]:
retail.head()

                 Month  Sales Total  Store Product Type           Item
0  2021-02-01 00:00:00            1      1  Electronics  Phone Charger
1  2021-02-01 00:00:00            5      1      Grocery         Shrimp
2  2021-02-01 00:00:00            2      1      Grocery        Noodles
3  2021-02-01 00:00:00            1      1      Grocery      King Crab
4  2021-03-01 00:00:00            1      1  Electronics       Ear Buds

In [20]:
retail['Product Type'].value_counts()

Electronics    49079
Home Goods     39158
Grocery        36989
Name: Product Type, dtype: int64